.container {
    max-width: 1200px;
    width: 100%;
}

.section-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.page {
    display: flex;
    justify-content: flex-end;

}

.page__button {
    background-color: rgba(82, 34, 208, 1);
    color: white;
    text-align: center;
    border-radius: 20px;
}

.heading {
    font-family: Intro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120%;
    text-align: left;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content__wirelessly-title {
    font-family: Intro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
    padding: 5px;
}

.content__wirelessly-text {
    font-family: Roboto Slab;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
    text-align: left;
    padding: 6px;
}

.content__performance {
    display: flex;
    justify-content: center;
}